<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jelly.mvvm.post.detail">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity android:name=".ui.activity.PostDetailAct"/>
    </application>
</manifest>